DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=　

OPENAI_API_KEY=
SECRET_KEY=your_secret_key
DEBUG=True
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# ローカル
NGINX_CONF_FILE=./nginx/conf.d/local.conf
SSL_CERT_PATH=./ssl

# 本番
# NGINX_CONF_FILE=/home/ec2-user/yarungo/nginx/conf.d/production.conf
# SSL_CERT_PATH=/etc/letsencrypt/live/yarungo.com
