/* タスク一覧画面 */

/* タスクの優先度 背景色 */
.priority-high td {
    background-color: #f8d7da; /* 赤系 */
}

.priority-medium td {
    background-color: #fff3cd; /* 黄色系 */
}

.priority-low td {
    background-color: #d4edda; /* 緑系 */
}

/* 並び替えアイコン */
.drag-handle {
    font-size: 1.5rem; /* アイコンのサイズを大きくする */
    cursor: grab; /* マウスカーソルの見た目を保持 */
    display: flex; /* アイコンを中央寄せ */
    justify-content: center;
    align-items: center;
    width: 2rem; /* 横幅を調整 */
    height: 2rem; /* 縦幅を調整 */
}

/* 締め切り日時 */
.due-date {
    font-size: 0.8rem; /* 小さい文字サイズに設定 */
    margin-top: 2px;   /* タイトルとの間に少し余白を追加 */
    color: #6c757d;    /* Bootstrapの muted カラー */
}


/* ログイン画面 */
.card {
    border-radius: 10px;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

form .form-control {
    border-radius: 5px;
}
