{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>YARUNGO</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/yarungo/tasks/">Tasks</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- フッターはTOPページ以外表示させない -->
    {% if request.path == '/' %}
    <footer>
        <p>&copy; saburi314.com</p>
    </footer>
    {% endif %}
</body>
</html>
